* {
  margin: 0;
  padding: 0;
}

.wrapper {
  height: 600px;
  width: 100%;
  display: flex;
  position: relative;
}

.first {
  width: 50%;
  height: 100%;
  background-color: #0062cc;
}

.second {
  width: 50%;
  height: 100%;
}

.form-box {
  height: 70%;
  width: 70%;
  position: absolute;
  left: 15%;
  top: 15%;
  display: flex;
  box-shadow: 5px 5px 40px black;
}

.signup {
  width: 50%;
  height: 100%;
  background-color: #ffffff;
  padding: 30px;
}

.signup input {
  width: 90%;
  outline: 0;
  border-width: 0 0 1.5px;
  border-color: black;
  font-size: 13px;
  padding: 0 0 2px;
}

.signup label {
  margin: 0;
}

.signup h1 {
  text-align: center;
}
.signup-button {
  text-align: center;
  padding: 20px;
}

.signup button {
  width: 50%;
}

.login {
  width: 50%;
  height: 100%;
  background-color: royalblue;
}
